<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BAAT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D8344431C9B1706003BC09C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D83445C1C9B1707003BC09C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D8344671C9B1707003BC09C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
